.diet-form {
  margin-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  color: #fff;
  @media screen and (min-width: 992px) {
    flex-flow: row wrap;
  }

  &__fieldset {
    padding: 1rem 2rem 1rem 2rem;
    flex: 33%;
    flex-flow: column wrap;
    margin-right: 2rem;

    #caloriesSelected {
      margin: 1.5rem 0 0 1.25rem;
      outline: none;
      font-size: 1.1rem;
    }
  }

  &__legend{
    font-weight: 700;
    font-size: 1.3rem;
  }

  &__label {
    font-weight: 500;
    font-size: 1.15rem;
    padding-bottom: 2rem;
  }

  &__container-inputs {
    margin: 1.75rem 0 1rem 0;
    display: flex;
    flex-flow: column wrap;
    @media screen and (min-width: 576px) {
      flex-flow: row wrap;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    margin: 0 .95rem .5rem 0;

    input {
      margin-left: 0.75rem;
      width: 1rem;
      height: 1rem;
    }
    label {
      font-size: 1.35rem;
    }
  }
}
.diet-form-submit {
  padding: .75rem 1.25rem;
  background-color: #ff0000;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 2rem;
  border-radius: .7rem;
  border: none;
  cursor: pointer;

}
.results-container {
  margin: 3rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  .card{

    margin-right: 1rem;
    @media screen and (min-width: 576px) {
      flex: 45%;
    }
    @media screen and (min-width: 992px) {
      flex: 30%;
    }
  }

  @media screen and (min-width: 576px) {
    flex-flow: row wrap;
    align-items: flex-start;
  }
}

.no-results {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  p {
    font-weight: 600;
    font-size: 1.2rem;
  }
}